# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local
node_modules

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
src/test
data
settings
.eslintcache
eslint-results.md

# Sentry Auth Token
.env.sentry-build-plugin
src-tauri/^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$
src-tauri/80eb53e6-0e02-4e57-b8a7-764e1567e029
src-tauri/15d96775-c228-4d2a-a070-62d009aa2d22
src-tauri/235d76a0-b0dc-43d9-ba15-1dc8b4839346
src-tauri/43c67bc3-18cf-48a5-9c65-68a7c4c3fd29
src-tauri/374b5796-7b50-443c-900e-2a9978d98476
src-tauri/2d0ed411-e668-4b89-a706-39a8417624fe
src-tauri/a331eb79-cc12-473b-8644-ea117b6e9cda
src-tauri/e45caa68-018c-4515-b445-51571e549da1

log