# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
src/test
data
settings
.eslintcache
eslint-results.md

# Sentry Auth Token
.env.sentry-build-plugin
src-tauri/e99b2531-8828-45f3-a4b9-0c8706c21aa0
src-tauri/421df825-e7c9-4430-8a02-7338fa945c74
src-tauri/0072fa01-57f3-40bf-82b5-bb04d696e2ff
src-tauri/d6ea9c0a-a83d-42c5-8b77-5b913738f267
src-tauri/de1c9e92-dca0-4785-b746-f06ae7e2773f
