@font-face {
    font-family: "countryflags1";
    src: url("../../../commons-res/flags-color-font/FlagsColor-AL4Gx.ttf");
}
@font-face {
    font-family: "countryflags2";
    src: url("../../../commons-res/flags-color-font/FlagsColor-DOGLd.ttf");
}
@font-face {
    font-family: "countryflags3";
    src: url("../../../commons-res/flags-color-world-font/FlagsColorWorld-51lyx.ttf");
}
@font-face {
    font-family: "countryflags4";
    src: url("../../../commons-res/flags-color-world-font/FlagsColorWorld-6YnRM.ttf");
}
body{
    width: 100%;
}
#sidebar-menu{
    background-color: #f0f1f2;
    height: 100%;
    padding-left: 0.2%;
    padding-right: 0%;
    font-size: large;
    overflow-y: scroll;
    align-items: center;
}
#content-header{
    background-color: #f0f1f2;
}
#sidebar-menu .row{
    padding-top: 5px;
    margin-left: 5px;
    width: 95%;
}
.sidebar-header-hr{
    color: #ff6740;
}
.header-hr{
    margin-top: 5px;
    color: #ff6740;
}
.sb-header-ctt{
    margin-right: 0%;
}
.menu-bouton{
    color: #000;
    text-decoration: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding-right: 0px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.menu-bouton:hover{
    color: #000;
    text-decoration: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: background-color 0.5s;
    background-color: #e6e6e6;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.menu-bouton a{
    text-decoration: none;
    color: #000;
}
.simple-list{
    list-style-type: none;
}
#mangadex-sb-closed{
    transition: all;
    margin-left: 0%;
    text-align: center;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}
#mangadex-sb-closed .row{
    align-items: center;
    margin: auto;
}
#sidebar-menu-hidden{
    display: none;
}
.btn-mgd{
    background-color: #ff8869;
}
#content .container{
    width: 100%;
}
.tag_bouton{
    transition: background-color,border-color 0.5s;
    background-color: #ff663f;
    border-color: #ff663f;
}
.tag_bouton:hover{
    transition: background-color 0.5s;
    background-color: #bf2700;
    border-color: #ff663f;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
#sidebar{
    height: 100vh;
    min-height: 100vh;
}
.flsa{
    font-family: "countryflags3";
    font-size:xx-large;
}