openapi: 3.0.3
tags:
  - name: Account
  - name: ApiClient
  - name: AtHome
  - name: Authentication
  - name: Author
  - name: Captcha
  - name: Chapter
  - name: Cover
  - name: CustomList
  - name: Feed
  - name: Follows
  - name: Forums
  - name: Infrastructure
  - name: Legacy
  - name: Manga
  - name: Rating
  - name: ReadMarker
  - name: Report
  - name: ScanlationGroup
  - name: Settings
  - name: Statistics
  - name: Upload
  - name: User
info:
  title: MangaDex API
  version: 5.10.0
  contact:
    name: MangaDex staff team
    email: "support@mangadex.org"
  description: |
    MangaDex is an ad-free manga reader offering high-quality images!

    This document details our API as it is right now. It is in no way a promise to never change it, although we will endeavour to publicly notify any major change.

    # Acceptable use policy

    Usage of our services implies acceptance of the following:
    - You **MUST** credit us
    - You **MUST** credit scanlation groups if you offer the ability to read chapters
    - You **CANNOT** run ads or paid services on your website and/or apps

    These may change at any time for any and no reason and it is up to you check for updates from time to time.

    # Security issues

    If you believe you found a security issue in our API, please check our [security.txt](/security.txt) to get in touch privately.

servers:
  - url: 'https://api.mangadex.org'
    description: MangaDex Api
paths:
  /ping:
    get:
      operationId: get-ping
      summary: Ping healthcheck
      description: Returns a plaintext response containing only the word "pong" if the API is healthy
      tags:
        - Infrastructure
      security: []
      responses:
        '200':
          description: Pong
          content:
            text/plain:
              schema:
                type: string
                default: pong
  /manga:
    get:
      summary: Manga list
      tags:
        - Manga
      responses:
        '200':
          description: Manga list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-search-manga
      description: Search a list of Manga.
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
            pattern: ^\d+$
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
            pattern: ^\d+$
          in: query
          name: offset
        - schema:
            type: string
          in: query
          name: title
        - schema:
            type: string
            format: uuid
          in: query
          name: authorOrArtist
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: authors[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: artists[]
        - schema:
            oneOf:
              - type: integer
                pattern: ^\\d{4}$
              - type: string
                enum:
                  - none
          in: query
          name: year
          description: Year of release or none
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: includedTags[]
        - schema:
            type: string
            enum:
              - AND
              - OR
            default: AND
          in: query
          name: includedTagsMode
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedTags[]
        - schema:
            type: string
            enum:
              - AND
              - OR
            default: OR
          in: query
          name: excludedTagsMode
        - schema:
            type: array
            items:
              type: string
              enum:
                - ongoing
                - completed
                - hiatus
                - cancelled
          in: query
          name: status[]
        - schema:
            type: array
            items:
              type: string
              pattern: ^[a-zA-Z\-]{2,5}$
          in: query
          name: originalLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: ^[a-zA-Z\-]{2,5}$
          in: query
          name: excludedOriginalLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: ^[a-zA-Z\-]{2,5}$
          in: query
          name: availableTranslatedLanguage[]
        - schema:
            type: array
            items:
              type: string
              enum:
                - shounen
                - shoujo
                - josei
                - seinen
                - none
          in: query
          name: publicationDemographic[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: Manga ids (limited to 100 per request)
        - schema:
            type: array
            default: [safe, suggestive, erotica]
            items:
              type: string
              enum:
                - safe
                - suggestive
                - erotica
                - pornographic
          in: query
          name: contentRating[]
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: createdAtSince
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: updatedAtSince
        - schema:
            type: object
            default:
              latestUploadedChapter: desc
            properties:
              title:
                type: string
                enum:
                  - asc
                  - desc
              year:
                type: string
                enum:
                  - asc
                  - desc
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
              latestUploadedChapter:
                type: string
                enum:
                  - asc
                  - desc
              followedCount:
                type: string
                enum:
                  - asc
                  - desc
              relevance:
                type: string
                enum:
                  - asc
                  - desc
              rating:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          name: order
          style: deepObject
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionManga'
          in: query
          name: includes[]
        - schema:
            type: string
            enum: ['0', '1', 'true', 'false']
          in: query
          name: hasAvailableChapters
        - schema:
            type: string
            format: uuid
          in: query
          name: group
      security: []
    post:
      summary: Create Manga
      operationId: post-manga
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: Manga Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MangaCreate'
        description: The size of the body is limited to 64KB.
      description: Create a new Manga.
      tags:
        - Manga
  '/manga/{id}/aggregate':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Manga ID
    get:
      operationId: get-manga-aggregate
      summary: Get Manga volumes & chapters
      security: []
      tags:
        - Manga
      parameters:
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: translatedLanguage[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
              minLength: 36
              maxLength: 36
          in: query
          name: groups[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    default: ok
                  volumes:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        volume:
                          type: string
                        count:
                          type: integer
                        chapters:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              chapter:
                                type: string
                              id:
                                type: string
                                format: uuid
                              others:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                              count:
                                type: integer
  '/manga/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Manga ID
    get:
      summary: Get Manga
      tags:
        - Manga
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionManga'
          in: query
          name: includes[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Manga no content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-manga-id
      description: Get Manga.
      security: []
    put:
      summary: Update Manga
      operationId: put-manga-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MangaEdit'
                - type: object
                  properties:
                    artists:
                      type: array
                      items:
                        type: string
                        format: uuid
                        minLength: 36
                        maxLength: 36
                    authors:
                      type: array
                      items:
                        type: string
                        format: uuid
                        minLength: 36
                        maxLength: 36
        description: The size of the body is limited to 64KB.
      tags:
        - Manga
    delete:
      summary: Delete Manga
      operationId: delete-manga-id
      responses:
        '200':
          description: Manga has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Manga
  /auth/login:
    post:
      summary: Login
      tags:
        - Authentication
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-auth-login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        description: The size of the body is limited to 2KB.
      security: []
      deprecated: true
  /auth/check:
    get:
      summary: Check the set of permissions associated with the current token
      description: >
        The returned list of permissions is computed depending on the generic role permissions that the token user has,
        their personal overrides, and the OpenID scopes of the token (we do not offer granular token permissions yet)
      tags:
        - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResponse'
      operationId: get-auth-check
  /auth/logout:
    post:
      summary: Logout
      tags:
        - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-auth-logout
      deprecated: true
  /auth/refresh:
    post:
      summary: Refresh token
      tags:
        - Authentication
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-auth-refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
        description: The size of the body is limited to 2KB.
      security: []
      deprecated: true
  /account/available:
    get:
      summary: Account username available
      operationId: get-account-available
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: ^[a-zA-Z0-9_-]+$
          in: query
          required: true
          name: username
          description: Username to check for avaibility
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
      tags:
        - Account
      deprecated: true
  /account/create:
    post:
      summary: Create Account
      operationId: post-account-create
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount'
        description: The size of the body is limited to 4KB.
      tags:
        - Account
      deprecated: true
  '/account/activate/{code}':
    parameters:
      - schema:
          type: string
          pattern: '[0-9a-fA-F-]+'
        name: code
        in: path
        required: true
    post:
      summary: Activate account
      tags:
        - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActivateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-account-activate-code
      parameters: []
      security: []
      deprecated: true

  /client:
    get:
      operationId: get-list-apiclients
      summary: List own Api Clients
      tags:
        - ApiClient
      parameters:
        - name: limit
          schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
        - name: offset
          schema:
            type: integer
            minimum: 0
          in: query
        - name: state
          schema:
            type: string
            enum:
              - requested
              - approved
              - rejected
              - autoapproved
          in: query
        - name: name
          schema:
            type: string
          in: query
        - name: includes[]
          schema:
            $ref: '#/components/schemas/ReferenceExpansionApiClient'
          in: query
        - name: order
          schema:
            type: object
            default:
              createdAt: desc
            properties:
              name:
                type: string
                enum:
                  - asc
                  - desc
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          style: deepObject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientList'
    post:
      summary: Create ApiClient
      operationId: post-create-apiclient
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      tags:
        - ApiClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /client/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ApiClient ID
    get:
      operationId: get-apiclient
      summary: Get Api Client by ID
      tags:
        - ApiClient
      parameters:
        - name: includes[]
          schema:
            $ref: '#/components/schemas/ReferenceExpansionApiClient'
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Edit ApiClient
      operationId: post-edit-apiclient
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      tags:
        - ApiClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientEdit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: delete-apiclient
      summary: Delete Api Client
      tags:
        - ApiClient
      parameters:
        - name: version
          schema:
            type: string
            pattern: ^\d+$
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    default: ok
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /client/{id}/secret:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ApiClient ID
    get:
      operationId: get-apiclient-secret
      summary: Get Secret for Client by ID
      tags:
        - ApiClient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
                  data:
                    type: string
        '403':
          description: Client not found, not active or user is not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Regenerate Client Secret
      operationId: post-regenerate-apiclient-secret
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      tags:
        - ApiClient
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
                  data:
                    type: string
        '403':
          description: Client not found, not active or user is not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /group:
    get:
      summary: Scanlation Group list
      tags:
        - ScanlationGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-search-group
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: ScanlationGroup ids (limited to 100 per request)
        - schema:
            type: string
          in: query
          name: name
        - schema:
            type: string
          in: query
          name: focusedLanguage
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionScanlationGroup'
          in: query
          name: includes[]
        - schema:
            type: object
            default:
              latestUploadedChapter: desc
            properties:
              name:
                type: string
                enum:
                  - asc
                  - desc
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
              followedCount:
                type: string
                enum:
                  - asc
                  - desc
              relevance:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          name: order
          style: deepObject
      security: []
    post:
      summary: Create Scanlation Group
      operationId: post-group
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ScanlationGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScanlationGroup'
        description: The size of the body is limited to 16KB.
  '/group/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Scanlation Group ID
    get:
      summary: Get Scanlation Group
      tags:
        - ScanlationGroup
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionScanlationGroup'
          in: query
          name: includes[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ScanlationGroup not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-group-id
      security: []
    put:
      summary: Update Scanlation Group
      operationId: put-group-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ScanlationGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanlationGroupEdit'
        description: The size of the body is limited to 8KB.
    delete:
      summary: Delete Scanlation Group
      operationId: delete-group-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ScanlationGroup
  '/group/{id}/follow':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    post:
      summary: Follow Scanlation Group
      operationId: post-group-id-follow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ScanlationGroup
    delete:
      summary: Unfollow Scanlation Group
      operationId: delete-group-id-follow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ScanlationGroup
  /list:
    post:
      summary: Create CustomList
      operationId: post-list
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomListCreate'
        description: The size of the body is limited to 8KB.
  '/list/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: CustomList ID
    get:
      summary: Get CustomList
      tags:
        - CustomList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
        '404':
          description: CustomList not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-list-id
      security: []
    put:
      summary: Update CustomList
      operationId: put-list-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomListEdit'
      description: The size of the body is limited to 8KB.
    delete:
      summary: Delete CustomList
      operationId: delete-list-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
  '/list/{id}/follow':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: CustomList ID
    post:
      summary: Follow CustomList
      operationId: follow-list-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
              examples:
                example:
                  value:
                    result: ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
      requestBody:
        content:
          application/json:
            schema:
              type: object
      description: The request body is empty
    delete:
      summary: Unfollow CustomList
      operationId: unfollow-list-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
              examples:
                example:
                  value:
                    result: ok
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
      requestBody:
        content:
          application/json:
            schema:
              type: object
      description: The request body is empty
  '/manga/{id}/list/{listId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Manga ID
      - schema:
          type: string
          format: uuid
        name: listId
        in: path
        required: true
        description: CustomList ID
    post:
      summary: Add Manga in CustomList
      operationId: post-manga-id-list-listId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
    delete:
      summary: Remove Manga in CustomList
      operationId: delete-manga-id-list-listId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - CustomList
  /user/list:
    get:
      summary: Get logged User CustomList list
      tags:
        - CustomList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListList'
      operationId: get-user-list
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
      description: This will list public and private CustomList
  '/user/{id}/list':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: User ID
    get:
      summary: Get User's CustomList list
      tags:
        - CustomList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListList'
      operationId: get-user-id-list
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
      description: This will list only public CustomList
      security: []
  '/user':
    get:
      summary: User list
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
      operationId: get-user
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: User ids (limited to 100 per request)
        - schema:
            type: string
          in: query
          name: username
        - schema:
            type: object
            properties:
              username:
                type: string
                enum: ['asc', 'desc']
          in: query
          name: order
          style: deepObject
  '/user/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: User ID
    get:
      summary: Get User
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      operationId: get-user-id
      security: []
    delete:
      summary: Delete User
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: delete-user-id
      deprecated: true
  /user/delete/{code}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: code
        in: path
        required: true
        description: User delete code
    post:
      summary: Approve User deletion
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: post-user-delete-code
      security: []
      deprecated: true
  /user/password:
    post:
      summary: Update User password
      tags:
        - User
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: post-user-password
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                oldPassword:
                  type: string
                  minLength: 8
                  maxLength: 1024
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 1024
              required:
                - oldPassword
                - newPassword
  /user/email:
    post:
      summary: Update User email
      tags:
        - User
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: post-user-email
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
                - email
  /chapter:
    parameters: []
    get:
      summary: Chapter list
      description: Chapter list. If you want the Chapters of a given Manga, please check the feed endpoints.
      operationId: get-chapter
      responses:
        '200':
          description: Chapter list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: Chapter ids (limited to 100 per request)
        - schema:
            type: string
          in: query
          name: title
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: groups[]
        - schema:
            oneOf:
              - type: string
                format: uuid
              - type: array
                items:
                  type: string
                  format: uuid
          in: query
          name: uploader
        - schema:
            type: string
            format: uuid
          in: query
          name: manga
        - schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          in: query
          name: volume[]
        - schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          in: query
          name: chapter
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: translatedLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: originalLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: excludedOriginalLanguage[]
        - schema:
            type: array
            default: [safe, suggestive, erotica]
            items:
              type: string
              enum:
                - safe
                - suggestive
                - erotica
                - pornographic
          in: query
          name: contentRating[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedGroups[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedUploaders[]
        - schema:
            type: string
            default: "1"
            enum: ["0", "1"]
          in: query
          name: includeFutureUpdates
        - schema: &triStateFilter
            type: integer
            enum: [0, 1]
          in: query
          name: includeEmptyPages
        - schema: *triStateFilter
          in: query
          name: includeFuturePublishAt
        - schema: *triStateFilter
          in: query
          name: includeExternalUrl
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: createdAtSince
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: updatedAtSince
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: publishAtSince
        - schema:
            type: object
            properties:
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
              publishAt:
                type: string
                enum:
                  - asc
                  - desc
              readableAt:
                type: string
                enum:
                  - asc
                  - desc
              volume:
                type: string
                enum:
                  - asc
                  - desc
              chapter:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          name: order
          style: deepObject
        - schema:
            type: array
            items:
              type: string
              enum:
                - manga
                - scanlation_group
                - user
          in: query
          name: includes
      tags:
        - Chapter
      security: []
  '/chapter/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Chapter ID
    get:
      summary: Get Chapter
      tags:
        - Chapter
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionChapter'
          in: query
          name: includes[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chapter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-chapter-id
      security: []
    put:
      summary: Update Chapter
      operationId: put-chapter-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterEdit'
        description: The size of the body is limited to 32KB.
      tags:
        - Chapter
    delete:
      summary: Delete Chapter
      operationId: delete-chapter-id
      responses:
        '200':
          description: Chapter has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Chapter
  /user/follows/manga/feed:
    get:
      summary: Get logged User followed Manga feed (Chapter list)
      tags:
        - Feed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-user-follows-manga-feed
      parameters: &feedParameters
        - schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: translatedLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: originalLanguage[]
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z\-]{2,5}$'
          in: query
          name: excludedOriginalLanguage[]
        - schema:
            type: array
            default: [safe, suggestive, erotica]
            items:
              type: string
              enum:
                - safe
                - suggestive
                - erotica
                - pornographic
          in: query
          name: contentRating[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedGroups[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedUploaders[]
        - schema:
            type: string
            default: "1"
            enum: ["0", "1"]
          in: query
          name: includeFutureUpdates
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: createdAtSince
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: updatedAtSince
        - schema:
            type: string
            description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS in timezone UTC+0"
            pattern: ^\d{4}-[0-1]\d-([0-2]\d|3[0-1])T([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$
          in: query
          name: publishAtSince
        - schema:
            type: object
            properties:
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
              publishAt:
                type: string
                enum:
                  - asc
                  - desc
              readableAt:
                type: string
                enum:
                  - asc
                  - desc
              volume:
                type: string
                enum:
                  - asc
                  - desc
              chapter:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          name: order
          style: deepObject
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionChapter'
          in: query
          name: includes[]
        - schema: *triStateFilter
          in: query
          name: includeEmptyPages
        - schema: *triStateFilter
          in: query
          name: includeFuturePublishAt
        - schema: *triStateFilter
          in: query
          name: includeExternalUrl
  /list/{id}/feed:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: CustomList Manga feed
      tags:
        - Feed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-list-id-feed
      parameters: *feedParameters
      security: []
  '/manga/{id}/follow':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    delete:
      summary: Unfollow Manga
      operationId: delete-manga-id-follow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Manga
    post:
      summary: Follow Manga
      operationId: post-manga-id-follow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Manga
  /cover:
    get:
      summary: CoverArt list
      tags:
        - Cover
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-cover
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: manga[]
          description: Manga ids (limited to 100 per request)
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: Covers ids (limited to 100 per request)
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: uploaders[]
          description: User ids (limited to 100 per request)
        - schema:
            type: array
            items:
              type: string
              pattern: '^[a-z]{2}(-[a-z]{2})?$'
          in: query
          name: locales[]
          description: Locales of cover art (limited to 100 per request)
        - schema:
            type: object
            properties:
              createdAt:
                type: string
                enum:
                  - asc
                  - desc
              updatedAt:
                type: string
                enum:
                  - asc
                  - desc
              volume:
                type: string
                enum:
                  - asc
                  - desc
          in: query
          name: order
          style: deepObject
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionCoverArt'
          in: query
          name: includes[]
      security: []
  /cover/{mangaOrCoverId}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: mangaOrCoverId
        description: Is Manga UUID on POST
        in: path
        required: true
    post:
      summary: Upload Cover
      tags:
        - Cover
      operationId: upload-cover
      parameters:
        - schema:
            type: string
            default: multipart/form-data
          name: Content-Type
          in: header
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                volume:
                  type: string
                  nullable: true
                  pattern: ^(0|[1-9]\\d*)((\\.\\d+){1,2})?[a-z]?$
                  maxLength: 8
                description:
                  type: string
                  nullable: false
                locale:
                  type: string
                  nullable: false
                  pattern: ^[a-z]{2}(-[a-z]{2})?$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Get Cover
      tags:
        - Cover
      operationId: get-cover-id
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionCoverArt'
          in: query
          name: includes[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: CoverArt not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
    put:
      summary: Edit Cover
      tags:
        - Cover
      operationId: edit-cover
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverEdit'
        description: The size of the body is limited to 2KB.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete Cover
      tags:
        - Cover
      operationId: delete-cover
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /author:
    get:
      summary: Author list
      tags:
        - Author
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-author
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: Author ids (limited to 100 per request)
        - schema:
            type: string
          in: query
          name: name
        - schema:
            type: object
            properties:
              name:
                type: string
                enum: ['asc', 'desc']
          in: query
          name: order
          style: deepObject
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionAuthor'
          in: query
          name: includes[]
      security: []
    post:
      summary: Create Author
      operationId: post-author
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Author
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorCreate'
        description: The size of the body is limited to 8KB.
  '/author/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Author ID
    get:
      summary: Get Author
      tags:
        - Author
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionAuthor'
          in: query
          name: includes[]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Author no content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-author-id
      security: []
    put:
      summary: Update Author
      operationId: put-author-id
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorEdit'
        description: The size of the body is limited to 8KB.
      tags:
        - Author
    delete:
      summary: Delete Author
      operationId: delete-author-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Author
  /legacy/mapping:
    post:
      summary: Legacy ID mapping
      operationId: post-legacy-mapping
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: This response will give you an array of mappings of resource identifiers ; the `data.attributes.newId` field corresponds to the new UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingIdResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Legacy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingIdBody'
        description: The size of the body is limited to 10KB.
      security: []
  /manga/{id}/feed:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Manga ID
    get:
      summary: Manga feed
      tags:
        - Manga
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-manga-id-feed
      parameters: *feedParameters
      security: []
  /manga/{id}/read:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Manga read markers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
                  data:
                    type: array
                    items:
                      type: string
                      format: uuid
              examples:
                example-1:
                  value:
                    result: ok
                    data:
                      - 00057883-357b-4734-9469-52967e59ef4c
                      - 000b7978-d9bd-49ec-a8f6-a0737368415f
                      - 0015b621-a175-47f5-81fb-5976c88e18c4
      operationId: get-manga-chapter-readmarkers
      description: A list of chapter ids that are marked as read for the specified manga
      tags:
        - ReadMarker
    post:
      summary: Manga read markers batch
      parameters:
        - schema:
            type: boolean
          name: updateHistory
          in: query
          required: false
          description: Adding this will cause the chapter to be stored in the user's reading history
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterReadMarkerBatch'
        description: The size of the body is limited to 10KB.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
              examples:
                example:
                  value:
                    result: ok
      operationId: post-manga-chapter-readmarkers
      description: Send a lot of chapter ids for one manga to mark as read and/or unread
      tags:
        - ReadMarker
  /manga/read:
    get:
      summary: Manga read markers
      parameters:
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: ids[]
          description: Manga ids
          required: true
        - name: grouped
          in: query
          schema:
            type: boolean
          description: Group results by manga ids
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - ok
                  data:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          format: uuid
                      - type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                            format: uuid
              examples:
                example-default:
                  value:
                    result: ok
                    data:
                      - 00057883-357b-4734-9469-52967e59ef4c
                      - 000b7978-d9bd-49ec-a8f6-a0737368415f
                      - 0015b621-a175-47f5-81fb-5976c88e18c4
                example-grouped:
                  value:
                    result: ok
                    data:
                      40529c30-0d25-4da5-a25a-f71a961ab855:
                        - 00057883-357b-4734-9469-52967e59ef4c
                        - 000b7978-d9bd-49ec-a8f6-a0737368415f
                        - 0015b621-a175-47f5-81fb-5976c88e18c4
      operationId: get-manga-chapter-readmarkers-2
      description: A list of chapter ids that are marked as read for the given manga ids
      tags:
        - ReadMarker
  /manga/random:
    get:
      summary: Get a random Manga
      tags:
        - Manga
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
      operationId: get-manga-random
      parameters:
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionManga'
          in: query
          name: includes[]
        - schema:
            type: array
            default: [safe, suggestive, erotica]
            items:
              type: string
              enum:
                - safe
                - suggestive
                - erotica
                - pornographic
          in: query
          name: contentRating[]
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: includedTags[]
        - schema:
            type: string
            enum:
              - AND
              - OR
            default: AND
          in: query
          name: includedTagsMode
        - schema:
            type: array
            items:
              type: string
              format: uuid
          in: query
          name: excludedTags[]
        - schema:
            type: string
            enum:
              - AND
              - OR
            default: OR
          in: query
          name: excludedTagsMode
      security: []
  '/at-home/server/{chapterId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: chapterId
        in: path
        required: true
        description: Chapter ID
    get:
      summary: Get MangaDex@Home server URL
      tags:
        - AtHome
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    default: ok
                  baseUrl:
                    type: string
                    description: |-
                      The base URL to construct final image URLs from.
                      The URL returned is valid for the requested chapter only, and for a duration of 15 minutes from the time of the response.
                  chapter:
                    type: object
                    properties:
                      hash:
                        type: string
                      data:
                        type: array
                        items:
                          type: string
                      dataSaver:
                        type: array
                        items:
                          type: string
                example:
                  result: ok
                  baseUrl: https://abcdef.xyz123.mangadex.network:12345/some-temporary-access-token
                  chapter:
                    hash: d9786b687bc5f3fe1d4ae05ff05e0eb5
                    data:
                      - x1-b765e86d5ecbc932cf3f517a8604f6ac6d8a7f379b0277a117dc7c09c53d041e.png
                      - x2-fc7c198880083b053bf4e8aebfc0eec1adbe52878a6c5ff08d25544a1d5502ef.png
                      - x3-90f15bc8b91deb0dc88473b532e42a99f93ee9e2c8073795c81b01fff428af80.png
                    dataSaver:
                      - x1-ab2b7c8f30c843aa3a53c29bc8c0e204fba4ab3e75985d761921eb6a52ff6159.jpg
                      - x2-3e057d937e01696adce2ac2865f62f6f6a15f03cef43d929b88e99a4b8482e03.jpg
                      - x3-128742088f99806b022bbc8006554456f2a20d0d176d7f3264a65ff9a549d0dd.jpg
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-at-home-server-chapterId
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: forcePort443
          description: |-
            Force selecting from MangaDex@Home servers that use the standard HTTPS port 443.

            While the conventional port for HTTPS traffic is 443 and servers are encouraged to use it, it is not a hard requirement as it technically isn't
            anything special.

            However, some misbehaving school/office network will at time block traffic to non-standard ports, and setting this flag to `true` will ensure
            selection of a server that uses these.
      security: []
  /manga/tag:
    get:
      summary: Tag list
      tags:
        - Manga
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
      operationId: get-manga-tag
      security: []
  /account/activate/resend:
    post:
      summary: Resend Activation code
      operationId: post-account-activate-resend
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActivateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAccountActivationCode'
        description: The size of the body is limited to 1KB.
      security: []
      deprecated: true
  /account/recover:
    post:
      summary: Recover given Account
      description: You can only request Account Recovery once per Hour for the same Email Address
      operationId: post-account-recover
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActivateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAccountActivationCode'
        description: The size of the body is limited to 1KB.
      security: []
      deprecated: true
  '/account/recover/{code}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
    post:
      summary: Complete Account recover
      operationId: post-account-recover-code
      parameters:
        - schema:
            type: string
            default: application/json
          name: Content-Type
          in: header
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActivateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoverCompleteBody'
        description: The size of the body is limited to 2KB.
      security: []
      deprecated: true
  /user/me:
    get:
      summary: Logged User details
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      operationId: get-user-me
  /user/follows/group:
    get:
      summary: Get logged User followed Groups
      tags:
        - Follows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupList'
      operationId: get-user-follows-group
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionScanlationGroup'
          in: query
          name: includes[]
  /user/follows/group/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        description: Scanlation Group id
        in: path
        required: true
    get:
      summary: Check if logged User follows a Group
      tags:
        - Follows
      responses:
        '200':
          description: The User follow that Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: The User doesn't follow that Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: get-user-follows-group-id
  /user/follows/user:
    get:
      summary: Get logged User followed User list
      tags:
        - Follows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
      operationId: get-user-follows-user
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
  /user/follows/user/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        description: User id
        in: path
        required: true
    get:
      summary: Check if logged User follows a User
      tags:
        - Follows
      responses:
        '200':
          description: The User follow that User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: The User doesn't follow that User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: get-user-follows-user-id
  /user/follows/manga:
    get:
      summary: Get logged User followed Manga list
      tags:
        - Follows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaList'
      operationId: get-user-follows-manga
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
        - schema:
            $ref: '#/components/schemas/ReferenceExpansionManga'
          in: query
          name: includes[]
  /user/follows/manga/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        description: Manga id
        in: path
        required: true
    get:
      summary: Check if logged User follows a Manga
      tags:
        - Follows
      responses:
        '200':
          description: The User follow that Manga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: The User doesn't follow that Manga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: get-user-follows-manga-id
  /user/follows/list:
    get:
      summary: Get logged User followed CustomList list
      tags:
        - Follows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListList'
      operationId: get-user-follows-list
      parameters:
        - schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          name: limit
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
  /user/follows/list/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        description: CustomList id
        in: path
        required: true
    get:
      summary: Check if logged User follows a CustomList
      tags:
        - Follows
      responses:
        '200':
          description: The User follow that CustomList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: The User doesn't follow that CustomList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      operationId: get-user-follows-list-id
  /manga/status:
    get:
      summary: Get all Manga reading status for logged User
      operationId: get-manga-status
      tags:
        - Manga
      parameters:
        - schema:
            type: string
            enum:
              - reading
              - on_hold
              - plan_to_read
              - dropped
              - re_reading
              - completed
          in: query
          name: status
          description: Used to filter the list by given status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    default: ok
                  statuses:
                    type: object
                    additionalProperties:
                      type: string
                      enum:
                        - reading
                        - on_hold
                        - plan_to_read
                        - dropped
                        - re_reading
                        - completed
              examples:
                unfiltered:
                  summary: /manga/status
                  value:
                    result: ok
                    statuses:
                      b019ea5d-5fe6-44d4-abbc-f546f210884d: reading
                      2394a5c7-1d2e-461f-acde-18726b9e37d6: dropped
                filtered:
                  summary: /manga/status?status=reading
                  value:
                    result: ok
                    statuses:
                      b019ea5d-5fe6-44d4-abbc-f546f210884d: reading
  '/manga/{id}/status':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get a Manga reading status
      operationId: get-manga-id-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    default: ok
                  status:
                    type: string
                    enum:
                      - reading
                      - on_hold
                      - plan_to_read
                      - dropped
[...]
